body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

img {
    height: 70px;
    width: 70px;
}

.siteTitle {
    font-family: titleFont;
    font-size: 54px;
    gap: 50px;
    margin: 30px;
    color: #ffd93c;
}

.temp {
    font-size: 40px;
}

.cityName {
    font-weight: bold;
    font-size: 24px;
}

@font-face {
    font-family: 'titleFont';
    src: url('assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

.topBar, .container {
    margin-left: 140px;
    gap: 4px;
}

.searchCityBtn, .saveLocation, .cityInput, .showHistoryBtn {
    border: none;
    padding: 6px 10px 6px 10px;
}

.topBar {

    align-items: center;
    gap: 8px;
    width: 70%;
}

.cityInput {
    border-radius: 6px;
    background-color: #eae9e9;

}

.searchCityBtn, .showHistoryBtn, .saveLocation {
    border-radius: 30px;
    color: white;
    background-color: white;
}

.searchCityBtn {
    border: solid 2px steelblue;
}

.saveLocation {
    border: solid 2px #ffd93c;
}

.showHistoryBtn {
    border: solid 2px dimgray;
    margin-left: auto;
}

.bi-search, .bi-clock-history, .bi-floppy-fill {
    color: dimgray;
}

.statsContainer {
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-content: center;
}






