body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

img {
    height: 70px;
    width: 70px;
}

.siteTitle {
    font-family: titleFont;
    font-size: 54px;
    gap: 50px;
    margin: 30px;
    color: #ffd93c;
}
.contentRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.temp {
    font-size: 40px;
}

.cityName {
    font-weight: bold;
    font-size: 24px;
}

@font-face {
    font-family: 'titleFont';
    src: url('assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

.topBar, .container {
    margin-left: 140px;
    gap: 4px;
}

.searchCityBtn, .saveLocation, .cityInput, .showHistoryBtn {
    border: none;
    padding: 6px 10px 6px 10px;
}

.topBar {

    align-items: center;
    gap: 8px;
    width: 70%;
}

.cityInput {
    border-radius: 6px;
    background-color: #eae9e9;

}

.searchCityBtn, .showHistoryBtn, .saveLocation {
    border-radius: 30px;
    color: white;

}
.searchCityBtn{
    background-color: lightskyblue;
}
.saveLocation{
    background-color: #ffd93c;
}
.showHistoryBtn{
    background-color: lightgrey;
}
.bi-search, .bi-clock-history, .bi-floppy-fill {
    color: white;
}

.statsContainer {
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    align-content: center;
}


.inputRow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.cityInput {
    flex: 1 0 auto;
    max-width: 250px;
}

.searchCityBtn, .saveLocation, .showHistoryBtn {
    flex: 0 0 auto;
}
.historyWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
}

.historyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closeHistory i {
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.historyPanel {
    max-height: 300px;
    overflow-y: auto;
    width: 180px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}